# Dataset
*.jsonl

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Mac
.DS_Store
__MACOSX/

# PUB
[PUB] India_runs_data_and_ai_challenge/

# Outputs
feature_extraction_output/candidate_features.csv
feature_extraction_output/*.csv
outputs/*.csv

# HuggingFace
.cache/
huggingface/

# IDE
.vscode/
.idea/